<div class="container-fluid">
    <div class="row">
		<div class="col-lg-9 col-md-9 col-12">
			<h1><u><i><center>User Evaluation</center></i></u></h1>
		</div>
		<div class="col-lg-3 col-md-3 col-12"><br>
			<u><b><center><%= link_to 'Back' , home_project_path, class: 'btn btn-warning' %></center></b></u>
		</div>
	</div>
    <hr>
    <div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card">
			  	<div class="card-header">
					<h4 class="card-title text-justify"><span class="badge p-3" style="background-color: #005253">1</span>
					Tour the other projects being developed by two other teams.
					Here you’re evaluating two of your peers’ systems. Be sure to give constructive criticism.</h4>
			  	</div>
			  	<div class="card-body">
				  	<dl>
					  	<u><dt>Web5</dt></u>
							<p>Review Link of Google DOCS - <a href="https://docs.google.com/document/d/1VxytXrTWXyLbCD4emwEHRRhXwns8SIyC3yPYVQc1Ag8/edit?usp=sharing">Web5</a>
						<hr>
						<u><dt>Web9</dt></u>
							<p>Review Link of Google DOCS - <a href="https://docs.google.com/document/d/1AS9O3OtigGwRUvtrbFVLyGqoQxeDJIR7ftdps2ske14/edit?usp=sharing">Web9</a>
					</dl>
			  	</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card">
			  	<div class="card-header">
					<h4 class="card-title text-justify"><span class="badge p-3" style="background-color: #005253">2</span>
					Get feedback on your system from a member of the target user community who is not in our class.Ask them if they would actually 
					use the system once it’s up and running.</h4>
			  	</div>
			  	<div class="card-body">
					  <dl>
						<u><dt>Reviews by Target Audience</dt></u>
							<p>Review Link of Google Sheets - <a href="https://docs.google.com/spreadsheets/d/1FQ_Zri9TiNlHAb8LkLeDFkSP7eOx2SCFBtXQbVkmNTk/edit?usp=sharing">Spreadsheets</a>
					</dl>
			  	</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card">
			  	<div class="card-header">
					<h4 class="card-title text-justify"><span class="badge p-3" style="background-color: #005253">3</span>
					Write a brief summary of the the criticism you’ve received and an 
					action plan for how you will address that criticism in the next version of your system. Post this with the feedback transcripts to your Website.</h4>
			  	</div>
			  	<div class="card-body">
				  	<dl>
					  	<u><dt>Review on our website</dt></u>
							<dd>1. On summarizing the constructive criticism we received by our pals we planned out to be more consistent with the URL naming  and Links, 
							more approaching and accessible navbar to the project and seperating the Project folder with the Assignments folder.</dd>
							<dd>2. Being specific in displaying what error excatly it is and displaying the name of the user thats logged in instead of its userid.</dd>
							<hr>
							<u><dt>Coming to the necessary course of action, we plan on doing the following</dt></u>
								<dd>1. Complete the database and make the URLs consistent so that any user does not get confused.</dd>
								<dd>2. Make changes to the layout so that the project is seperated from our Assignments.</dd>
								<dd>3. Keeping in mind the feedback given to us by our pals we will make the further necessary and required changes.</dd>
							<hr>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'websitereview.png', class: 'img-fluid' %>
									</div>
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'lookreview.png', class: 'img-fluid' %>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'registerreview.png', class: 'img-fluid' %>
									</div>
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'designreview.png', class: 'img-fluid' %>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'urlsreview.png', class: 'img-fluid' %>
									</div>
									<div class="col-md-12 col-lg-6">
										<%= image_tag 'flowreview.png', class: 'img-fluid' %>
									</div>
								</div>
							</div>
					</dl>
			  	</div>
			</div>
		</div>
	</div>
</div>
